ENV=local
SECRET_KEY=
DATABASE_URL=
IBM_API_KEY=
IBM_BUCKET_ENDPOINT=
IBM_BUCKET=
IBM_BUCKET_TOKEN=
IBM_BUCKET_CRN=

PROJECT_FOLDER=
MAINTENANCE=False
PASSWORD=pass
GOOGLE_MAP_STREET_API=
GOOGLE_MAP_API=
CACHE_LOCATION=

# CACHE LOCATION:
# c:/foo/bar for windows
# /var/tmp/django_cache for linux (make sure it has all permissions)

# PROJECT_FOLDER should not end with closing front or back slash '/' or '\' (keep it empty)
# e.g. /home/username/isac
# do not close isac