[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-cors-headers = "*"
django-crispy-forms = "*"
djangorestframework = "*"
django-countries = "*"
djangorestframework-simplejwt = "*"
django-honeypot = "*"
django-rosetta = "*"
dj-database-url = "*"
django-environ = "*"
streetview = {git = "https://github.com/robolyst/streetview"}
gunicorn = "*"
tensorflow = "*"
ibm-cos-sdk = "*"
ibm-watson = "*"
jinja2 = "*"
keras = "*"
mistune = "*"
mkdocs = "*"
numpy = "*"
opencv-python = "*"
pillow = "*"
pipenv = "*"
requests = "*"
virtualenv = "*"
whitenoise = "*"
mkdocs-material = "*"
geopy = "*"
filetype = "*"
requests-toolbelt = "*"
pandas = "*"
matplotlib = "*"
scipy = "*"
scikit-image = "*"

[dev-packages]

[requires]
python_version = "3.9"

[scripts]
install-client = "pip install psycopg2"
install-server = "pip install psycopg2-binary"
test = "python manage.py test --debug-mode --debug-sql --parallel --buffer"

[pipenv]
allow_prereleases = true
