{% extends 'master/base.html' %}
{% load i18n %}
{% block title %} {% trans "Image Share Request" %} {% endblock title %}
{% block dashboard_title1 %} {% trans "Image Share Request" %} {% endblock dashboard_title1 %}
{% block dashboard_title2 %} {% trans "Crowdsource Image Share Request" %} {% endblock dashboard_title2 %}
{% load static %}

{% block content %}

    <style>
        .bs-tooltip-auto[x-placement^=top] .arrow, .bs-tooltip-top .arrow{transform:translate(6px,0)}
    </style>
    <div class="row {% if not user.is_authenticated %}m-1{% endif %}">
        {% if user.is_authenticated %}
          <div class="col-sm-12 col-md-8">
              <div class="card">
                  <div class="card-body table table-responsive">
                      <table id="file_upload_dt" class="table table-bordered table-hover table-striped">
                          <thead>
                              <tr>
                                  <th>{% trans "Object Type" %}</th>
                                  {% if user.is_admin %}
                                  <th>{% trans "User" %}</th>
                                  {% endif %}
                                  <th>{% trans "Status" %}</th>
                                  <th>{% trans "Remarks" %}</th>
                                  <th style="width:110px;">{% trans "Actions" %}</th>
                              </tr>
                          </thead>
                          <tbody>
                              {% for imgshare in images_share %}
                                  <tr >
                                      <td>{{imgshare.object_type|title}}</td>
                                      {% if user.is_admin %}
                                      <td>{% if imgshare.user %} {{imgshare.user}} {% else %} N/A {% endif %}</td>
                                      {% endif %}
                                      <td>
                                      {% if imgshare.status == "pending" %}
                                        <span class="badge badge-sm badge-warning">{{imgshare.status|title}}</span>
                                      {% elif imgshare.status == "accepted" %}
                                        <span class="badge badge-sm badge-success">{{imgshare.status|title}}</span>
                                      {% elif imgshare.status == "rejected" %}
                                        <span class="badge badge-sm badge-danger">{{imgshare.status|title}}</span>
                                      {% endif %}

                                      {% if imgshare.is_expired %}
                                        <span class="badge badge-sm badge-warning">EXPIRED</span>
                                      {% endif %}
                                      </td>
                                      <td>{{imgshare.remarks|truncatechars:25|default:'N/A'}}</td>
                                      <td class="table-options" style="min-width: 110px;">
                                          {% if user.is_admin or imgshare.status == "pending" %}
                                          <a onclick="editForm('{{imgshare.id}}', '{{imgshare.object_type}}', '{{imgshare.status}}', '{{imgshare.remarks}}')" title="{% trans 'Edit' %}" data-toggle="tooltip" data-placement="left" href="#" class="btn text-secondary px-0" style="margin: 0 3px !important;">
                                              <i class="fa fa-edit"></i>
                                          </a>
                                          {% endif %}
                                          {% if user.is_admin or imgshare.user and user.id == imgshare.user.id %}
                                          <a onclick="deleteData(event, 'form-{{ imgshare.id }}', 'Image Share Request')" title="{% trans 'Delete' %}" data-toggle="tooltip" data-placement="left" href="#" class="btn text-secondary px-0" style="margin: 0 3px !important;">
                                              <i class="fa fa-trash text-danger"></i>
                                          </a>
                                          <form action="{% url 'images_share_delete' imgshare.id %}" id="form-{{ imgshare.id }}" method="POST" class="d-inline">
                                              {% csrf_token %}
                                          </form>
                                          {% endif %}

                                          {% comment %} DOWNLOAD THE .json file {% endcomment %}
                                          {% if imgshare.status == "accepted" %}
                                          <a onclick="confirmWithForm(event, 'download-form-{{ imgshare.id }}', 'Download Image List for chosen Object Type?')" title="{% trans 'Download Image List' %}" data-toggle="tooltip" data-placement="left" href="#" class="btn text-secondary px-0" style="margin: 0 3px !important;">
                                              <i class="fa fa-download text-success"></i>
                                          </a>
                                          <form action="{% url 'image_share_download' imgshare.id %}" id="download-form-{{ imgshare.id }}" method="POST" class="d-inline">
                                              {% csrf_token %}
                                          </form>
                                          {% endif %}
                                      </td>
                                  </tr>
                              {% endfor %}
                          </tbody> 
                      </table>
                      <div class="row custom-paginate-row">
                        <div>
                          <span class="current">
                            Page {{ images_share.number }} of {{ images_share.paginator.num_pages }} (Total {% if query %}Filtered{% endif %} Items {{images_share.paginator.count}})
                          </span>
                        </div>
                        <div>
                          <ul class="pagination">
                            {% if images_share.has_previous %}
                              <li class="paginate_button page-item previous"><a class="page-link" href="?page={{ images_share.previous_page_number }}">Previous</a></li>
                            {% else %}
                              <li class="paginate_button page-item previous disabled"><a class="page-link" href="#">Previous</a></li>
                            {% endif %}

                            {% for num in images_share.paginator.page_range %}
                              {% ifequal num images_share.number %}
                                <li class="paginate_button page-item active"><a href="#" class="page-link">{{num}}</a></li>
                              {% else %}
                                <li class="paginate_button page-item"><a href="?page={{ num }}" class="page-link">{{num}}</a></li>
                              {% endifequal %}
                            {% endfor %}

                            {% if images_share.has_next %}
                              <li class="paginate_button page-item next"><a class="page-link" href="?page={{ images_share.next_page_number }}">Next</a></li>
                            {% else %}
                              <li class="paginate_button page-item next disabled"><a class="page-link" href="#">Next</a></li>
                            {% endif %}
                          </ul>
                        </div>
                      </div>
                  </div>
              </div>
          </div>
        {% endif %}
        <div class="col-sm-12 col-md-4">
            <div class="card">
                <br/>
                <div class="card-body pt-0">
                    {% load crispy_forms_tags %}
                    <form action="{% url 'images_share' %}" method="POST" id="images_share_form" class="d-inline">
                        {% csrf_token %}
                        <input type="hidden" value="0" id="id_field" name="id"/>
                        {{ form|crispy }}
                        <div class="form-group">
                            <div class="col-sm-12" style="display: flex;justify-content: space-between;align-items: center;">
                                <button class="btn btn-sm btn-primary" id="upload_btn" type="submit">{% trans "Submit" %}</button>
                                <button class="btn btn-sm btn-outline-secondary" onclick="createForm()" type="reset">{% trans "Clear" %} <i class="fa fa-backspace ml-1" style="font-size: 80%;"></i></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
{% block script %}
    <script>
      $(function () {
        dt = $('#file_upload_dt').DataTable({
            "paging": false,
            "lengthChange": true,
            "searching": true,
            "ordering": false,
            "info": false,
            "autoWidth": true,
            "order": [],
            "language": {
              "emptyTable": "No Image Share Request available to show. {% if query %} (Searching for '{{query}}') {% endif %}"
            }
        });

        $('#file_upload_dt_filter input').attr('placeholder', 'Press Enter to Search')
        $('#file_upload_dt_filter input').val('{{query}}')
        $('#file_upload_dt_filter input', dt.table().container())
          .off('.DT')
          .on('keyup.DT', function (e) {
            if(e.keyCode == 13 && (this.value.length > 0 || '{{query}}'.length > 0)) {
              var url = new URL(location.href);
              url.searchParams.set('q', this.value.toLowerCase());
              location.href = url.href;
            }
          });

        $('#id_object_type').select2();

        $('#file_upload_dt_wrapper > div:nth-child(1) > div:nth-child(1)').html(`
          <div class="btn-group">
            <button type="button" class="btn btn-sm btn-info dropdown-toggle" data-toggle="dropdown" data-display="static" aria-haspopup="true" aria-expanded="false">
              Open Sample Google Colab Notebook
            </button>
            <div class="dropdown-menu dropdown-menu-lg-right">
              {% comment %} TODO  {% endcomment %}
              <a class="dropdown-item" target="_blank" rel="noopener noreferrer" href="https://colab.research.google.com/github/ISAC-SIMO/ISAC-SIMO-Django-Backend/blob/master/static/notebook/train-detection-from-json-image-list.ipynb">I have downloaded JSON file</a>
              <a class="dropdown-item" target="_blank" rel="noopener noreferrer"  href="https://colab.research.google.com/github/ISAC-SIMO/ISAC-SIMO-Django-Backend/blob/master/static/notebook/train-classifier-from-ibm-cos-images.ipynb">I have images in IBM COS</a>
            </div>
          </div>
        `);
      });

      function editForm(id, object_type, status, remarks){
        $('#id_field').val(id);
        $('#id_object_type').val(object_type).trigger('change');
        $('#div_id_object_type label p').remove();
        if(!$('#id_object_type').val()){
          $('#id_object_type').prop("selectedIndex", 0).trigger('change');
          $('#div_id_object_type label').append('<p class="m-0"><small>(Previous Value "'+object_type+'" Not Available)<small></p>');
        }

        $('#id_remarks').val(remarks);
        $('#id_status').val(status);

        $('#upload_btn').text("Edit Detail");
      }

      function createForm(){
        $('#id_field').val(0);
        $('#id_object_type').prop("selectedIndex", 0).trigger('change');
        $('#div_id_object_type label p').remove();
        $('#upload_btn').html('Submit');
      }
    </script>
{% endblock %}