{% extends 'master/base.html' %}
{% load i18n %}
{% block title %}
  {% if request.resolver_match.url_name == 'updateproject' %}
    {% trans "Update Project" %}
  {% else %}  
    {% trans "Create Project" %}
  {% endif %} 
{% endblock title %}

{% block dashboard_title1 %}
  {% if request.resolver_match.url_name == 'updateproject' %}
    {% trans "Update Project" %}
  {% else %}  
    {% trans "Create Project" %}
  {% endif %} 
{% endblock dashboard_title1 %}

{% block dashboard_title2 %}
  {% if request.resolver_match.url_name == 'updateproject' %}
    {% trans "Edit Project" %}
  {% else %}  
    {% trans "Add Project" %}
  {% endif %}
{% endblock dashboard_title2 %}

{% block content %}
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        {% load crispy_forms_tags %}

                        <form action="{% if request.resolver_match.url_name == 'updateproject' %}{% url 'updateproject' project.id %}{% else %}{% url 'addproject' %}{% endif %}" method="POST" class="form-group" enctype="multipart/form-data">
                            {% csrf_token %}
                              {{ form|crispy }}

                              {% if request.resolver_match.url_name == 'updateproject' and project.public %}
                              <div class="form-group" id="unpublic-container" style="display:none;">
                                  <label for="unpublic" class="col-form-label text-danger" style="padding-bottom:0;">
                                      <input type="checkbox" name="unpublic" id="unpublic" style="translate(0px,1px);margin-right: 5px;">
                                      {% trans "Remove All Linked Users from this Project" %} ?
                                  </label>
                                  <small class="form-text text-muted" style="margin:0;margin-left: 21px;">
                                      {% trans "Also Note that User Contributions will no longer be visible" %}.
                                  </small>
                              </div>
                              {% endif %}

                              {% if user.is_admin %}
                                <hr/>
                                <div class="form-group">
                                    <label for="guest" class="col-form-label" style="padding-bottom:0;">
                                        <input type="checkbox" name="guest" id="guest" {% if project and project.guest %} checked {% endif %} style="transform: scale(1.3) translate(0px,1px);margin-right: 5px;">
                                        {% trans "Mark as GLOBAL Project" %}
                                    </label>
                                    <small class="form-text text-muted" style="margin:0;margin-left: 21px;">
                                        {% trans "Will be used for Guest/Offline Users in Mobile App. Logged in user will be shown via linked projects. <br/>  Note: Only One Project should be marked as Global (Best Practice)" %}.
                                    </small>
                                </div>
                              {% endif %}

                              {% if request.resolver_match.url_name == 'updateproject' %}
                                <button type="submit" class="btn btn-success">{% trans "Update Project" %}</button>
                              {% else %}  
                                <button type="submit" class="btn btn-success">{% trans "Add Project" %}</button>
                              {% endif %}  
                        </form>

                        {% if request.resolver_match.url_name == 'updateproject' %}
                          <hr/>
                          <h4>{% trans "Users Linked to this Project" %}</h4>
                          {% if project.users.all %}
                            <ul>
                            {% for user in project.users.all %}
                              <li><a href="{% url 'update_user' user.id %}">{{user.full_name|title}}</a></li>
                            {% endfor %}
                            <ul>
                          {% else %}
                            {% trans "No Users for this project yet" %} !!
                          {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
{% endblock content %}

{% block script %}
  <script>
    var id_detect_model = ''
    function loadOfflineModelSelect2(){
      $('#id_offline_model').select2({
        placeholder: 'Select Offline Detect Model',
        allowClear: true
      }).on("select2:select", function (e) {
        $('#div_id_detect_model').slideUp()
        $('#div_id_ibm_api_key').slideUp()
        id_detect_model = document.getElementById('id_detect_model').value
        document.getElementById('id_detect_model').value = ''
      }).on("select2:unselecting", function (e) {
        $(this).data('state', 'unselected');
        $('#div_id_detect_model').slideDown()
        $('#div_id_ibm_api_key').slideDown()
        document.getElementById('id_detect_model').value = id_detect_model
      }).on("select2:open", function (e){
        if ($(this).data('state') === 'unselected') {
          $(this).removeData('state'); 
          var self = $(this);
          setTimeout(function() {
            self.select2('close');
          }, 1);
        }
      })
    }

    loadOfflineModelSelect2();

    {% if request.resolver_match.url_name == 'updateproject' and project.public %}
    $('#id_public').on('change', function(){
      if(!$('#id_public').prop('checked')){
        $('#unpublic-container').show();
      }else{
        $('#unpublic-container').hide();
      }
    })
    {% endif %}
  </script>
{% endblock script %}