{% extends 'master/base.html' %}

{% block title %} {{project.project_name|title}} - Public Project {% endblock title %}

{% block dashboard_title1 %} {{project.project_name|title}} {% endblock dashboard_title1 %}

{% block dashboard_title2 %} Public Project Info {% endblock dashboard_title2 %}
{% load static %}

{% block content %}
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          WIP
        </div>
      </div>
    </div>
  </div>
{% endblock content %}

{% block script %}
    <script>
        
    </script>
{% endblock script %}