{% extends 'master/base.html' %}
{% load i18n %}

{% block title %} {% trans "Logs" %} {% endblock title %}

{% block dashboard_title1 %} {% trans "Logs" %} {% endblock dashboard_title1 %}

{% block dashboard_title2 %} {% trans "Logs" %} {% endblock dashboard_title2 %}

{% block content %}
    {% load static %}
        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                {% for error in result reversed %}
                    <div class="timeline-item">
                        <pre class="timeline-body" style="padding:0;">{{ error }}</pre>
                    </div>
                    <hr style="border-color: #111;"/>
                {% endfor %}
            </div>
        </section>

{% endblock content %}

{% block script %}
{% endblock script %}